<!-- This file demonstrates the use of SIFT features for online SLAM with a Kinect. 
     The openni driver is started from this file -->
<launch>
  <include file="$(find trackbot)/launch/openni.launch"/>
  <node name="$(anon dynparam)" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters /camera/driver">
    <param name="image_mode" type="int" value="5" /><!-- QVGA@30Hz -->
    <param name="depth_mode" type="int" value="5" /><!-- QVGA@30Hz -->
  </node>

</launch>
