<!-- This file demonstrates the use of SIFT features for online SLAM with a Kinect.
     The openni driver has to be started seperately -->
<launch>
  <node pkg="rgbdslam" type="rgbdslam" name="rgbdslam" cwd="node" required="true" output="log"> 
    <!-- Input data settings-->
    <param name="config/topic_image_mono"              value="/camera/rgb/image_rect_color"/> <!--could also be color -->
    <param name="config/topic_image_depth"             value="/camera/depth_registered/image_rect"/>
    <param name="config/topic_points"                  value="/camera/depth_registered/points"/> <!--if empty, poincloud will be reconstructed from image and depth -->
	<!-- <param name="config/subscriber_queue_size" value="20" /> --> <!-- Increase buffer for slow incoming network traffic -->
	<param name="config/maximum_depth" value="4.0" /> <!-- Maximum range kinect can reliably see in meters -->
	<param name="config/minimum_depth" value="0.2" /> <!-- Minimum range kinect can reliably see in meters -->
	<param name="config/min_rotation_degree" value="2.5" /> <!-- Minimum degree range kinect has to move -->
	<param name="config/octomap_online_creation" value="true" /> <!-- Generate octomap in Live time --> 

    <param name="config/feature_detector_type"         value="SURF"/><!-- If SIFTGPU is enabled in CMakeLists.txt, use SURF here -->
    <param name="config/feature_extractor_type"        value="SURF"/><!-- If SIFTGPU is enabled in CMakeLists.txt, use SURF here -->
    <param name="config/nn_distance_ratio"             value="0.95"/> <!-- Feature correspondence is valid if distance to nearest neighbour is smaller than this parameter times the distance to the 2nd neighbour -->
    <param name="config/max_keypoints"                 value="600"/><!-- Extract no more than this many keypoints (not honored by SIFTGPU)-->
  </node>
</launch>
